:root {
  --headline-font-size: 48px;
  --headline-medium-font-size: 40px;
  --paragraph-text-font-size: 16px;
  --navi-small-font-size: 12px;
  --main-green: #1b5b31;
  --text-white: white;
  --text-black: black;
  --background-beige: #dcc1ab;
  --background-gray: #f5f0ec;
  --background-black: black;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin: auto;
}

.green-background {
  background-color: var(--main-green);
}

.beige-background {
  background-color: var(--background-beige);
}

.gray-background {
  background-color: var(--background-gray);
}

.black-background {
  background-color: var(--background-black);
}

.padding-top-120 {
  padding-top: 120px;
}

.padding-bottom-96 {
  padding-bottom: 96px;
}

.padding-bottom-120 {
  padding-bottom: 120px;
}

.padding-bottom-160 {
  padding-bottom: 160px;
}

.padding-left-96 {
  padding-left: 96px;
}

.padding-horizontal-220 {
  padding: 0 15%;
}

.padding-horizontal-110 {
  padding: 0 10%;
}

.padding-vertical-120 {
  padding: 120px auto;
}

/* --------TEXT---------- */
.navi-small {
  font-size: var(--navi-small-font-size);
  color: var(--main-green);
  font-weight: 500;
}

.navi-small-white {
  color: var(--text-white);
}

.white-text {
  color: var(--text-white);
}

.gray-text {
  color: var(--background-gray);
}

.line-break::after {
  content: "\a";
  white-space: pre;
}

@media screen and (min-width: 1200px) {
  #oferta-line-1::after {
    content: "\a";
    white-space: pre;
  }
}

.headline {
  font-size: var(--headline-font-size);
  line-height: 115%;
}

.headline-medium {
  font-size: var(--headline-medium-font-size);
  line-height: 120%;
  letter-spacing: -2px;
}

.headline-italic {
  letter-spacing: 1px;
}

/* -------------------------------- */

/* ------------NAVBAR------------- */

.navbar {
  background-color: white;
  color: var(--text-black);
}

.nav-item {
  color: var(--text-black);
}

.navbar-nav {
  align-items: center;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    align-items: start;
  }
}

.navbar-brand {
  font-size: 19px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-menu {
  background-color: white;
}

/* -------------------------------- */

/* -------------CAROUSEL------------ */
.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide[data-active] {
  opacity: 1;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn-carousel {
  position: absolute;
  z-index: 0;
  bottom: 0;
  background-color: var(--text-white);
  color: var(--text-black);
}

/* -------------------------------- */

/* -----------CARD---------- */
.card {
  margin: 20px 32px;
  width: 378px;
  height: 370px;
  border-radius: 28px;
  border: none;
  transition: transform 250ms;
}

.card:hover {
  border: 1px solid var(--main-green);
  transform: scale(95%);
}

.card-body {
  margin: 35px 20px;
  gap: 32px;
}

.card-text {
  line-height: 150%;
  text-align: left;
  letter-spacing: -1%;
  font-size: 14px;
}
/* -------------------------------- */

/* -----------GRID------- */
.grid {
  width: 100%;
}

.grid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--gradientHeight, 100%);
  background: linear-gradient(rgba(0, 0, 0, 0), var(--background-beige));
  pointer-events: none;
  opacity: var(--gradientOpacity, 1);
  transition: height 500ms, opacity 300ms ease-out 500ms;
}

.grid-item {
  width: 100%;
}

.grid-clip {
  height: var(--gradientHeight,1400px);
  overflow: hidden;
  transition: height 500ms;
}

/* -------------------------------- */

/* -----------KNOW-MORE------- */
.know-more {
  text-decoration: none;
  color: var(--main-green);
  border-bottom: 1px solid var(--main-green);
  padding-bottom: 3px;
  transition: background-color 250ms ease-in;
}

.know-more:hover {
  background-color: var(--main-green);
  color: var(--text-white);
}
/* -------------------------------- */

/* ---------BUTTON--------- */
.btn {
  border-radius: 200px;
  padding: 14px 22px;
}

.btn-outline {
  color: var(--background-gray);
  border-color: var(--background-gray);

  line-height: 150%;
  font-size: var(--paragraph-text-font-size);
}

.btn-outline:hover {
  background-color: var(--background-gray) !important;
  color: var(--main-green);
}

.btn-outline-green {
  color: var(--main-green);
  border-color: var(--main-green);
}

.btn-gray {
  background-color: var(--background-gray);
  color: var(--main-green);

  font-size: var(--paragraph-text-font-size);
  font-weight: 500;
}

.btn-gray:hover,
.btn-gray:focus {
  background-color: var(--main-green);
  border: 1px solid var(--background-gray);
  color: var(--background-gray);
}

.btn-green {
  background-color: var(--main-green);
  color: var(--background-gray);
  border: none;
}

.btn-green:hover,
.btn-green:focus {
  background-color: var(--background-gray);
  color: var(--main-green);
}

.btn-black {
  border-radius: 200px;
  position: relative;
  bottom: 1%;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
  margin: 30px auto;
}

.btn-black:hover {
  color: var(--background-beige);
  background-color: var(--text-black);
}

/* -------------CONTACT---------------- */
.contact {
  width: 100%;
  padding: 110px 120px;
}

/* ------------------------------------- */

.hardline {
  border: 1px solid var(--background-gray);
}

.footer {
  font-size: var(--paragraph-text-font-size);
  line-height: 150%;
}

.footer-content {
  width: 100%;
}
